.App {
  text-align: center;
  padding: 20px;
  min-height: 100vh;
  transition: background-color 0.3s;
  color: Black;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 20px;
}

.title {
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
}

.theme-toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.tile-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: center;
  align-items: center;
  padding: 20px;
  max-width: 100%; /* Add max-width to prevent exceeding container */
}

/* Dark theme styles */
.dark {
  background-color: black;
  color: white;
}
